---
import Layout from "@/layouts/DefaultLayout.astro";
import GameBoard from "@/kata/typing-challenge/components/game-board.tsx";
---

<Layout>
    <main>
        <GameBoard client:only="react" />
    </main>
</Layout>
